.react-tabs__row {
  position: relative;
}

@media only screen and (min-width: 568px) {
  .react-tabs__row:before {
    content: '';
    position: absolute;
    top: 50%;
    width: 100%;
    border-top: 2px solid #aaa;
  }
}

.react-tabs__tab-list {
  text-align: center;
  border-bottom: 0;
}

.react-tabs__tab {
  border-radius: 5px;
  border: 1px solid #aaa;
  padding: 10px 40px;
  background: white;
}

@media only screen and (max-width: 600px) {
  .react-tabs__tab {
    margin-bottom: 20px;
    width: 100%;

  }
}

@media only screen and (max-width: 900px) {
  .react-tabs__tab {
    padding: 10px 20px;
  }
}

.react-tabs__tab:hover {
  border: 1px solid #17BEBB;
}

.react-tabs__tab--selected {
  background: #17BEBB;
  color: white;
  border: 1px solid #17BEBB;
}
